body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #333;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    color: #53a8b6;
    margin-bottom: 20px;
    animation: bounce 1s infinite;
}

button {
    background-color: #e7eaf6;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #a2a8d3;
}

button:focus {
    outline: none;
}

button#start-button {
    font-size: 1.5rem;
}

button#submit-button {
    font-size: 1.5rem;
    background-color: #155263;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.alert {
    margin-top: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    color: white;
    display: none;
}

.summary {
    margin-top: 30px;
    font-size: 1.2rem;
}

.question {
    display: none;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
